APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost

DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=fx_auth
DB_USERNAME=root
DB_PASSWORD=

JWT_SECRET=your_jwt_secret_key
JWT_ISSUER=http://localhost
JWT_AUDIENCE=http://localhost
JWT_EXPIRE=3600
JWT_REFRESH_EXPIRE=86400
APP_BASE_PATH=/fx-auth
